<div class="mt-8 w-xl">
  <h1 class="text-2xl mb-4">Infos Entreprises</h1>
  <p>Charger votre fichier excel</p>
  <ul class="mb-4">
    <li>- Avec les noms d'entreprises en colonne A</li>
    <li>- En format .xlsx</li>
  </ul>

  <div class="border-2 border-dashed border-blue-400 text-blue-500 p-6 text-center rounded-lg cursor-pointer mb-4 hover:bg-blue-50 transition">
    <%= simple_form_for :lookup, url: upload_lookups_path, method: :post, html: { multipart: true } do |f| %>
    <%= f.input :file, as: :file, label: "" %>
  </div>

      <div class="mb-10">
        <div>
          <%= f.label :fields, 'Que voulez-vous rechercher ?' %>
        </div>
        <div class="flex flex-wrap gap-2 mt-2" >
          <%= f.input :siren, as: :boolean, label: 'SIREN', input_html: { name: 'fields[siren]', class: "mr-2" }, label_html: { class: "px-4 py-2 rounded-full bg-blue-100 text-blue-700 cursor-pointer transition relative hover:bg-blue-200"} %>
          <%= f.input :adresse, as: :boolean, label: 'Adresse', input_html: { name: 'fields[adresse]', class: "mr-2" }, label_html: { class: "px-4 py-2 rounded-full bg-blue-100 text-blue-700 cursor-pointer transition relative hover:bg-blue-200"} %>
          <%= f.input :forme_juridique, as: :boolean, label: 'Nature juridique', input_html: { name: 'fields[nature_juridique]', class: "mr-2" }, label_html: { class: "px-4 py-2 rounded-full bg-blue-100 text-blue-700 cursor-pointer transition relative hover:bg-blue-200"} %>
          <%= f.input :code_naf, as: :boolean, label: 'Code NAF', input_html: { name: 'fields[code_naf]', class: "mr-2" }, label_html: { class: "px-4 py-2 rounded-full bg-blue-100 text-blue-700 cursor-pointer transition relative hover:bg-blue-200"} %>
        </div>
      </div>
      <%= f.submit 'Trouver les informations des entreprises', class: "w-full bg-blue-600 text-white font-semibold py-2 px-4 rounded hover:bg-blue-700 transition" %>
    <% end %>
  </div>

  <div class="mt-18">
    <p>------------------</p>
    <h2 class="text-2xl">Documentation</h2>
    <ol>
      <li>Les informations sont recherchées sur l'API : <a href="https://recherche-entreprises.api.gouv.fr" class="underline" target="_blank">https://recherche-entreprises.api.gouv.fr/</a></li>
      <li>La "nature juridique" est encodée en chiffres sur l'API. Il est possible d'en savoir plus sur le chiffre correspondant sur : <a href="https://recherche-entreprises.api.gouv.fr" target="_blank" class="underline">https://www.insee.fr/fr/information/2028129</a></li>
    </ol>
  </div>
</div>
